<div class="container mx-auto grid md:grid-cols-2 gap-10 py-12">
  <!-- CHURCH -->

  <div class="col-span-1 md:text-right md:text-left text-center p-12">
    <p class="md:text-5xl text-3xl md:hidden block">
      <i class="fa-sharp fa-light fa-church"></i>
    </p>
    <p class="font-header md:text-5xl text-3xl font-bold mb-12">
      <i class="fa-sharp fa-light fa-church mr-5 md:inline hidden"></i>Ceremony
    </p>
    <p class="font-bold">San Pedro Calungsod Parish</p>
    <p>106 Sumulong Hwy, Antipolo, 1870 Rizal</p>
    <p class="font-bold">3:30 PM</p>
  </div>
  <div class="col-span-1 md:text-left text-center min-h-[20rem] md:p-12">
    <div class="w-full h-full">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.659974543056!2d121.14617487510645!3d14.618435785870055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b8dd687da045%3A0x9498561f5b04038f!2sSan%20Pedro%20Calungsod%20Parish!5e0!3m2!1sen!2sph!4v1716929149477!5m2!1sen!2sph"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <!-- RECEPTION -->
  <div
    class="col-span-1 md:text-right text-center p-12 min-h-[20rem] md:block hidden"
  >
    <div class="w-full h-full">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.5174105589995!2d121.16033957924571!3d14.569567649591017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c7fb8fce5735%3A0xc84901512d88bd1e!2sThe%20Emerald%20Events%20Place!5e0!3m2!1sen!2sph!4v1716929468528!5m2!1sen!2sph"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  <div class="col-span-1 md:text-left text-center p-12">
    <p class="md:text-5xl text-3xl md:hidden block">
      <i class="fa-sharp fa-light fa-champagne-glasses"></i>
    </p>
    <p class="font-header md:text-5xl text-3xl font-bold mb-12">
      Reception
      <i
        class="fa-sharp fa-light fa-champagne-glasses ml-5 md:inline hidden"
      ></i>
    </p>
    <p class="font-bold">The Emerald Events Place</p>
    <p>H598+R3G, Cabrera Rd, Antipolo, Rizal</p>
    <p class="font-bold">5:30 PM</p>
  </div>
  <div class="col-span-1 md:text-left text-center block md:hidden h-[20rem]">
    <div class="w-full h-full">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.5174105589995!2d121.16033957924571!3d14.569567649591017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c7fb8fce5735%3A0xc84901512d88bd1e!2sThe%20Emerald%20Events%20Place!5e0!3m2!1sen!2sph!4v1716929468528!5m2!1sen!2sph"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <!-- ATTIRE -->

  <div class="col-span-1 md:text-right md:text-left text-center p-12">
    <p class="md:text-5xl text-3xl md:hidden block">
      <i class="fa-sharp fa-light fa-user-tie"></i>
    </p>
    <p class="font-header md:text-5xl text-3xl font-bold mb-12">
      <i class="fa-sharp fa-light fa-user-tie mr-5 md:inline hidden"></i>
      What to wear
    </p>
    <p class="font-bold">Cocktail Attire</p>
    <p>Color: Shades of gray.</p>
    <div class="flex md:justify-end justify-center mt-2">
      <div class="w-10 h-10 rounded-full mx-2 bg-gray-400"></div>
      <div class="w-10 h-10 rounded-full mx-2 bg-gray-500"></div>
      <div class="w-10 h-10 rounded-full mx-2 bg-gray-600"></div>
    </div>
  </div>
  <div class="col-span-1 md:text-left text-center min-h-[20rem] md:p-12">
    <div class="w-full h-full">
      <img src="/assets/images/cocktail.jpeg" class="w-full" />
    </div>
  </div>
</div>
