<div class="container mx-auto py-12">
  <div class="grid md:grid-cols-2 gap-10">
    <div class="col-span-1 md:text-right md:text-left text-center">
      <p class="font-header text-5xl mb-12">Ceremony</p>
      <p class="font-bold">San Pedro Calungsod Parish</p>
      <p>106 Sumulong Hwy, Antipolo, 1870 Rizal</p>
      <p class="font-bold">3:30 PM</p>
      <div class="description mt-2">
        <p>The main event at the magic hour.</p>
        <p>Joy & Marci say "I do".</p>
        <p>Crying is cool, but not required</p>
        <p>But it's still up to you.</p>
      </div>
    </div>
    <div class="col-span-1 md:text-left text-center">
      <p class="font-header text-5xl mb-12">Reception</p>
      <p class="font-bold">The Emerald Events Place</p>
      <p>H598+R3G, Cabrera Rd, Antipolo, Rizal</p>
      <p class="font-bold">6:00 PM</p>

      <div class="description mt-2">
        <p>You take in the view.</p>
        <p>Have a picture or two.</p>
        <p>Eat. Laugh. Dance.</p>
        <p>Celebrate with us.</p>
      </div>
    </div>
  </div>
</div>
