<div class="bg-gray-900 p-12">
  <div class="container mx-auto text-white pb-4 text-center">
    <p class="mb-8 font-header md:text-5xl text-3xl font-bold">Just...</p>
    <div class="md:mx-32 grid grid-cols-4 md:gap-4 gap-2">
      <div
        class="col-span-1 h-32 pt-8 border-r-"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
      >
        <p class="md:text-5xl text-2xl">{{ cd.days }}</p>
        <p>DAYS</p>
      </div>
      <div
        class="col-span-1 h-32 pt-8"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="200"
      >
        <p class="md:text-5xl text-2xl">{{ cd.hours }}</p>
        <p>HOURS</p>
      </div>
      <div
        class="col-span-1 h-32 pt-8"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        <p class="md:text-5xl text-2xl">{{ cd.mins }}</p>
        <p>MINS</p>
      </div>
      <div
        class="col-span-1 h-32 pt-8"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="400"
      >
        <p class="md:text-5xl text-2xl">{{ cd.secs }}</p>
        <p>SECS</p>
      </div>
    </div>
    <p class="mt-8 font-header md:text-5xl text-xl font-bold">
      ...Until We Get Married
    </p>
  </div>
</div>
