<div class="registry-image">
  <div class="flex h-screen">
    <div class="m-auto text-center text-white md:px-32 px-4">
      <p class="text-6xl font-header text-white mb-12">Gifts</p>
      <p class="mb-4 text-lg font-bold">Hello our cherished guest!</p>
      <p class="text-lg">
        We're absolutely thrilled to celebrate our special day with you! If
        you're considering a gift, we kindly ask for your support in the form of
        cash. Your generous contribution will help us kickstart our journey as
        newlyweds, creating beautiful memories together. Thank you for being a
        part of our love story! ❤️
      </p>
    </div>
  </div>
</div>
