<div class="bg-gray-900">
  <div class="flex h-screen">
    <div class="m-auto text-center text-white md:px-32 px-4">
      <p class="md:text-5xl text-3xl font-bold font-header text-white mb-12">
        Gifts
      </p>
      <p class="mb-4 md:text-2xl font-bold">Hello our cherished guest!</p>
      <p class="md:text-2xl">
        We're absolutely thrilled to celebrate our special day with you! If
        you're considering a gift, we kindly ask for your support in the form of
        cash. Your generous contribution will help us kickstart our journey as
        newlyweds, creating beautiful memories together. Thank you for being a
        part of our love story! ❤️
      </p>
      <p class="md:text-2xl my-5">Sincerely,</p>
      <p class="md:text-2xl my-5">Merry Joy and Marci</p>
    </div>
  </div>
</div>
