.registry-image {
  background-image: url("../../../../../assets/images/travel-guide.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
