<h1 mat-dialog-title>+ Add Guest</h1>
<div mat-dialog-content>
  <form [formGroup]="guestForm" class="flex flex-col">
    <mat-form-field>
      <mat-label>Name of the Guest</mat-label>
      <input formControlName="name" matInput required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Allocated Seats</mat-label>
      <input formControlName="allowedPlusses" matInput required />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    (click)="onClickAddToGuestList()"
    [disabled]="guestForm.valid"
  >
    Add to Guest List
  </button>
</div>
